Package: dumaos-repack
Priority: optional
Section: net
Depends: terminfo
Description: DumaOS UI/QoS port for supported AGTEF/VBNTJ firmware
Maintainer: FrancYescO <francyesc0@hotmail.it>
Source: https://github.com/FrancYescO/sharing_tg789
Version: 2.0-45
Architecture: arm_cortex-a9
