Package: dumaos-repack
Priority: optional
Section: net
Depends: terminfo libncurses libedit
Description: DumaOS
Maintainer: FrancYescO <francyesc0@hotmail.it>
Source: https://github.com/Ansuel/tch-nginx-gui
Version: 1.0-0
Architecture: all
